# Supabase Configuration
VITE_SUPABASE_URL="https://zuyiebfkrjbwwrbdcoxd.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1eWllYmZrcmpid3dyYmRjb3hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MzI4MzksImV4cCI6MjA4ODUwODgzOX0.ATgDd7bJWbI52DzqZMMy6zkjtFrXfb2xhzJsDJzOblQ"